<h1 class="text-center display-4">Courses</h1>
<button class="btn btn-primary btn-block mb-2">Add </button>
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Cours Name</th>
			<th>Start date</th>
			<th> End date</th>
			<th>Cost</th>
			<th>Edit</th>
			<th>Deldet</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>html</td>
			<td>12/1/2019</td>
			<td>2/3/2019</td>
			<td>500</td>
			<td>
				<button type="button" class="btn btn-primary"><i class="fas fa-edit"></i> </button>
			</td>
			<td>
				<button type="button" class="btn btn-danger"> <i class="fas fa-trash-alt"></i></button>
			</td>
		</tr>
	</tbody>
</table>