
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="row">
    <div  class="col-lg-4"></div>
    <div  class="col-lg-8">
    

    

     <button id="btnAdd" type="button"  class="btn btn-primary btn-block">ADD</button>
     <table id="myTable" class="table-border table-striped table-hover table-condensed table-responsive text-center" > 
        
           
        <thead>
        <tr>
        <th>Id</th>
        <th>RoomId</th>
        <th>CourseId</th>
        <th>Day</th>
        <th>StartTime</th>
        <th>EndTime</th>
        <th>Actions</th>
        </tr>
        </thead>
            <tbody id="add">
            <tr>
            <td><input id="Id" value="" size="10"></td>
            <td><input id="RoomId" value="" size="10"></td>
            <td><input id="CourseId" value="" size="10"></td>
            <td><input id="Day" value="" size="10"></td>
            <td><input id="StartTime" value="" size="10"></td>
            <td><input id="EndTime" value="" size="10"></td>
            <td>
            <button type="button" id="btnEdit"  class="btn btn-primary btn-sm"><i class="fa fa-edit" style="font-size:15px"></i>Edit</button>
            <button type="button" id="btnDelete"  class="btn btn-danger btn-sm"><i class="fa fa-remove" style="font-size:15px"></i>Delete</button>
            </td>
            </tr>
            </tbody>
 
    </table>
    </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

        $(document).ready(function(){


        $("#btnAdd").click(function(){

            var id =        $("#Id").val();
            var RoomId =    $("#RoomId").val();
            var CourseId =  $("#CourseId").val();
            var Day =       $("#Day").val();
            var StartTime = $("#StartTime").val();
            var EndTime =   $("#EndTime").val();
            var editbtn = "   <button type='button'  class='btn btn-primary btn-sm btnEdit'>" + "Edit"
            + "</button>"
            var deletebtn = "   <button type='button'  class='btn btn-danger btn-sm btnDelete'>" + "Delete"
            + "</button>"

            var newdata = "<tr>"+
                  "<td>"+id+"</td>"+
                  "<td>"+RoomId+"</td>"+
                  "<td>"+CourseId+"</td>"+
                  "<td>"+Day+"</td>"+
                  "<td>"+StartTime+"</td>"+
                  "<td>"+EndTime+"</td>"+
                  "<td>"+editbtn+"</td>"+
                  "<td>"+deletebtn+"</td>"+
                  "</tr>" ;
                  


        $('#myTable tr:last').after(newdata);
        });
   

        $(".btnEdit").click(function(event) {
        $($(this)).edit();
        });

        $(".btnDelete").click(function(event) {
        $($(this)).remove();
        }); 

        });
    </script>



        
  