<h1 class="text-center display-4">Reservtion</h1>
<button class="btn btn-primary btn-block mb-2">Add </button>
<table class="table table-striped ">
  <thead class="tect-center">
    <tr>
        <th>Student</th>
        <th>Course</th> 
				<th>Edit</th>
				<th>Delete</th>
    </tr>
    <tr>
    	<td>Mariam</td>
    	<td>Web</td>

    	<td>
				<button type="button" class="btn btn-primary">   <i class="fas fa-edit"></i> </button>
			</td>
			<td>
				<button type="button" class="btn btn-danger">  <i class="fas fa-trash-alt"></i></button>
			</td>
    </tr>
    </thead> 
  </table>
