<h1 class="text-center display-4">Rooms</h1>
<button class="btn btn-primary btn-block mb-2">Add </button>
  <table class="table  table-hover">
  <thead>
    <tr>
      <th>room name</th>
      <th>room number </th>
      <th>is lab room</th>
      <th>Edit</th>
			<th>Deldet</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>el baba kirolos</td>
      <td>1</td>
      <td> yes</td>
      <td>
				<button type="button" class="btn btn-primary">   <i class="fas fa-edit"></i> </button>
			</td>
			<td>
				<button type="button" class="btn btn-danger">  <i class="fas fa-trash-alt"></i></button>
			</td>
    </tr>
   </tr>
  </tbody>
</table