  <button type="button" class="btn btn-lg">ADD</button>
</div>
	<div >
	<table class="table table-striped">
  <th>

<h1 class="text-center display-4">Schedules</h1>
<button class="btn btn-primary btn-block mb-2">Add </button>
<table class="table table-striped">
  <thead>

    <td>Id</td>
    <td>RoomId</td>
    <td>CourseId</td>
    <td>Day</td>
    <td>StartTime</td>
    <td>EndTime</td>
    <th>Edit</th>
		<th>Deldet</th>
  </thead>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>sunday</td>
    <td>17:00</td>
    <td>21:00</td>
    <td>
      <button type="button" class="btn btn-primary">   <i class="fas fa-edit"></i> </button>
    </td>
    <td>
      <button type="button" class="btn btn-danger">  <i class="fas fa-trash-alt"></i></button>
    </td>
    </td>
  </tr>
  
</table>