<h1 class="text-center display-4">Students</h1>
<button class="btn btn-primary btn-block mb-2">Add </button>
<table class="table" id="student">
  <thead>
    <tr>
      <th>Id</th>
      <th>name</th>
      <th>Tel</th>
      <th>Email</th>
      <th>Address</th>
      <th>Edit</th>
		<th>Deldet</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>peter</td>
      <td>123456</td>
      <td>peter@gmail.com</td>
      <td>mohram bek </td>
      <td>
        <button type="button" class="btn btn-primary"> <i class="fas fa-edit"></i> </button>
      </td>
      <td>
        <button type="button" class="btn btn-danger"> <i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>