<h1 class="text-center display-4">Teachers</h1>
<button class="btn btn-primary btn-block mb-2">Add </button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Teacher</th>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Tel</th>
        <th>Addres</th>
        <th>Edit</th>
        <th>Deldet</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>fady</td>
        <td>1</td>
        <td>fady wageh</td>
        <td>fady@gmail.com</td>
        <td>122345</td>
        <td>mohram bek</td>
        <td>
          <button type="button" class="btn btn-primary"> <i class="fas fa-edit"></i> </button>
        </td>
        <td>
          <button type="button" class="btn btn-danger"> <i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>

    </tbody>
  </table>